extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Khashayar
        p Full Stack JavaScript Developer


        .about-bio
          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Accessibility
          li Fetch and Public APIs
          li Rest API
          li Node.js
          li Express
          li Pug
          li React
          li SQL

        h6 Contact Info

        ul
          li (+98)-(919)-9255939
          li khashayar.m.003@email.com

        a.btn-link(href='https://www.linkedin.com/in/regsar-khashayar-dolatshahi9090' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/Khash90' target='_blank') GitHub
        a.btn-link(href='https://www.facebook.com/khashayar.dolatshahi/' target='_blank') FaceBook

    nav.nav
      a(href='/')
        span &larr;
        |  Back