<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/0.profile-pic.jpg', alt='profile-picture')
        .dev-intro-box

          
          h5 Khashayar
          p Hello, Welcom to my page , My name is Khashayar , I am a junior Web-Developer , I have managed to earn my skills through Tree-house and it was such an awsome journey. I am one of the guys who always welcome learning and I am aiming to reach the top in this field ,until then you wont see me stopping at any point.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          
          span Khashayar

      block content

  script(src='/static/js/script.js')